body {
    padding-top: 60px;
    /* Agrega un espacio para la barra de navegación fija */
  }
  
  footer {
    background-color: #f8f9fa;
    padding: 30px;
  }
  
  .dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .card {
    background-color: #f8f9fa;
    transition: transform 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card-title {
    color: #faeed6;
    font-weight: bold;
    text-align: center;
  }
  
  .btn-success {
    background-color: #28a745;
    border-color: #28a745;
  }
  
  .btn-success:hover {
    background-color: #218838;
    border-color: #218838;
  }
  
  .card-img-overlay {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .card:hover .card-img-overlay {
    opacity: 1;
  }
  
  .card-img-top {
    object-fit: cover;
    height: 300px;
  }
  
  .page-title {
    text-align: center;
    color: #FF9900;
    padding-top: 2%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .page-description {
    text-align: center;
    color: #336699;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: larger;
  }